body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #231f20;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    /* font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 400; */
    font-style: normal;
    background: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
}
#mid_img>img
{
    cursor: pointer;
    transition: transform .2s;
}
#mid_img>img:hover {
    transform: scale(1.1);
}

#blog_top
{
    width: 85%;
    display: flex;
    margin: auto;
    gap: 30px;
    margin-top: 50px;
}
/* #blog_top1>img
{
    margin-left: -50px;
} */
#blog_top2>h1
{
    margin-top: 0%;
    width: 110%;
    line-height: 45px;
    font-size: 40px;
    font-weight: 700;
}
#author
{
    display: flex;
    gap: 20px;
}
#author_name
{
    margin-bottom: -15px;
}
#pic
{
    height: 600px;
}
/* ---------------------------------------------------------------------------------------- */
#blog_mid
{
    padding-top: 50px;
    display: flex;
    width: 85%;
    height: 1000px;
    margin: auto;
    border-top: 1px solid grey;
    /* border-bottom: 1px solid grey; */
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}
#blog_mid1
{
    width: 80%;
display: grid;
/* border-left: 1px solid grey; */
grid-template-columns: repeat(2,1fr);
gap: 20px;
}
#blog_mid1>div>img,a
{
width: 100%;
}
#mid>img,a
{
    height: 400px;
    
}
/* #first:hover
{
    border-bottom:2px solid #231f20;
    
} */
#mid_blog2
{
    border-left: 1px solid grey;
    padding-left: 20px;
}
#side_blog
{
    display: flex;
}
/* --------------------------------------------------------------------------------------------------------- */
#subscribe_box
{
width: 85%;
/* display: flex; */
margin:auto;
height: 300px;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
align-items: center;
text-align: center;
margin-top: 100px;
padding-top: 80px;

}
#gh-button {
    color: #fff!important;
    padding: 0 3rem;
    background-color: #e97284;
    box-shadow: 0 1px 2px rgb(35 31 32 / 20%), 0 4px 14px rgb(35 31 32 / 30%);
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    min-width: 75px;
    height: 4rem;
    padding: 0 2.4rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8em;
    letter-spacing: .3px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    transition: .4s ease;
    
    
}
#gh-input {
    height: 4rem;
    background: #fff;
    border-radius: 0.5rem;
    /* border: none;
    border: 1px solid var(--color-border); */
    color: inherit;
    /* display: block; */
    outline: 0;
    padding: 0 0.6em;
    text-decoration: none;
    width: 30%;
   padding-top: 10px;
}
#inp_btn
{
    gap: 20px;
}
.box>img:hover {
    box-shadow: 0 0 11px rgba(141, 31, 31, 0.7); 
  }
  .red2>img{
    cursor: pointer;
    transition: transform .2s;
}
.red2>img:hover {
    transform: scale(1.1);
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/*  MEDIA QUERY*/
/* -------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width:320px) and (max-width:811px) 
{

    #blog_mid
    {
         display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 90%;
    } 

    #blog_mid1
    {
        
            /* display: grid; */
            grid-template-columns: repeat(1,1fr);
            width: 90%;
        
    
    }
    #blog_top
    {
        
            display: grid;
           grid-template-columns: repeat(1,1fr);
           width: 60%;
       
    }
    #subscribe_box
    {
        margin-top: 1800px;
        margin-left: 100px;
            display: grid;
           grid-template-columns: repeat(1,1fr);
           width: 0;
       
    
    }
    #blog_top1>img
    {
         width: 120%
    };
    #mid_blog2>div>div>img
    {
        width: 80%
    };
}
