body {
  padding: 0;
  margin: 0;
  background-color: aqua;
}

.modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  min-width: 1000px;
  height: 90vh;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.plans {
  width: 75%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 100%;
}
.plans {
  width: 75%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 100%;
}
.plans {
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.plans > h1 {
  margin-top: 3px;
}
.planType {
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plans > h3 {
  width: 60%;
  margin-left: 15px;
  margin: 28px 0 10px 10px;
}
.plans > h3 > a {
  text-decoration: none;
}
.features {
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  font-size: 15px;
  margin-bottom: 7px;
}
.features_last {
  height: 25px;
}

.features > i {
  color: rgb(44, 75, 255);
}

.plan {
  width: 32%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 100%;
  padding: 20px;
}
.reduceFont {
  font-size: small;
}
.plan > div {
  /* border: 1px solid khaki; */
  width: 100%;
  height: 50%;
}
/* .part1 {
  border-bottom: 1px solid gray;
} */
.part1 > div {
  /* border: 1px solid khaki; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.part1 > div:first-child {
  height: 50px;
}
/* check color */
.part1 > div > i {
  font-size: 27px;
  color: gray;
  /* color: rgb(44, 75, 255); */
}
/* above check color */
.part1 > h3 {
  margin: 0;
  padding: 0;
  margin-top: 28px;
}
#p-dooler {
  font-size: x-large;
}
.part1 > p:last-child {
  margin: 0;
  padding: 0;
}
/* .part2 {
  border-top: 1px solid khaki;
} */

.summary {
  width: 25%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 100%;
  padding: 5px 12px;
}
.summary > h1 {
  margin: 7px 7px 10px 0;
  padding: 0;
}
.summary1 {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.summary1 > div {
  /* border: 1px solid sandybrown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  height: 50px;
}
.summary1 > div:nth-child(2) {
  height: 25px;
}
.summary1 > div:nth-child(3) {
  height: 25px;
  margin-top: 12px;
}
.summary1 > div > p {
  font-size: smaller;
}
.summary2 {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 320px;
  margin-top: 15px;
  padding: 0 20px 0 20px;
}
.summary2_1 {
  /* border: 1px solid #ccc; */
  height: 90px;
  box-sizing: border-box;
}
.summary2_1 > div:nth-child(1) {
  /* border: 1px solid #ccc; */
  height: 25px;
  display: flex;
  font-size: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 1px 3px;
}
.summary2_1 > div:nth-child(2) {
  /* border: 1px solid #ccc; */
  height: 60px;
  display: flex;
  justify-content: start;
  margin-left: 5px;
  align-items: center;
}
.summary2_1 > div:nth-child(2) > button,
.summary2_1 > div > div:nth-child(2) > input {
  margin: 2px;
}
.summary2_1 > div:nth-child(2) > button {
  padding: 6px 18px;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 255, 0.5);
  background-color: rgba(0, 0, 255, 0.1);
}
.summary2_1 > div:nth-child(2) > input {
  width: 20px;
  padding: 13px 18px;
  font-size: medium;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.summary2_1 > p:nth-child(3) {
  margin-bottom: 7px;
  padding-bottom: 0px;
}
.summary2_1 > h5 {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 0px;
}
.uders {
  margin-top: 5px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.uders > p,
.uders > h6 {
  margin: 0;
  padding: 0;
}
.summary2_1 > p:nth-child(7) {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 2px;
}
.summary2_1 > hr {
  margin: 0;
  padding: 0;
}
.summary2_1 > h1 {
  padding: 0;
  margin: 5px 0 0 0;
}
.summary2_1 > p:nth-child(10) {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.gotoPayment {
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  font-size: medium;
  padding: 7px 3px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, 0.5);
  background-color: rgb(44, 75, 255);
  color: #fff;
}
.gotoPayment:hover {
  background-color: rgb(31, 53, 179);
}
.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 1000px;
  height: 90vh;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 12;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.confirmpart2 {
  width: 35%;
}
.confirmpart1 {
  width: 65%;
}
.creditCard {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
  /* border: 1px solid red; */
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
#form > input,
#form > label,
#form > div {
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin-top: 15px;
  /* height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;  */
}
#form > label {
  margin-left: 5px;
}
#form > input,
#form > div > input {
  font-size: large;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#form > div > input {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 10%;

  padding: 10px 5px;
}
.back {
  /* border: 1px solid red; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  margin-top: 70px;
}
.back > p:first-child {
  color: rgb(44, 75, 255);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.back > p:first-child > span > i {
  margin-right: 5px;
}
.hidden1 {
  display: none;
  height: 0;
  width: 0;
}
.hidden2 {
  display: none;
  height: 0;
  width: 0;
}
.close-modal1 {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.close-modal2 {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.close-modal2:hover {
  border: none;
}
.close-modal1:hover {
  border: none;
}

@media all and (min-width: 1000px) and (max-width: 1250px) {
  .plans {
    width: 72%;
  }
  .summary {
    width: 28%;
  }
  .plan {
    width: 33%;
  }
  .plans > h3 {
    width: 90%;
    margin: 28px 0 10px 0;
  }
}
