*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Serif,Sans Serif,Script,Display"; */
  -webkit-font-smoothing: antialiased;
}
#container {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
}
#signup {
  width: 68%;
  height: 100%;
  overflow: scroll;
  /* margin-bottom: 20px; */
}
#signup::-webkit-scrollbar {
  display: none;
}

#signup {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#sign_image {
  width: 35%;
  height: 100%;
  height: 100%;
  position: relative;
  background-image: url(https://static.buffer.com/login/public/img/signup-bkg-publish.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup_testimonial {
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#signup_testimonial > div:nth-child(1) {
  height: 40%;
  line-height: 1.2;
  font-weight: 900;
  color: #fff;
  font-size: larger;
  padding: 2px;
  box-sizing: border-box;
}
#signup_testimonial > div:nth-child(1) > h3 {
  font-size: large;
  line-height: 1.4;
}
#signup_testimonial > div:nth-child(2) {
  /* width: 100%; */

  height: 60%;
  text-align: center;
}
#signup_testimonial > div:nth-child(2) > img {
  /* width: 100%; */
  width: 80px;
  height: 80px;
  margin: 8px 0px;
  margin-top: 25px;
}
#signup_testimonial > div:nth-child(2) > div {
  /* width: 100%; */
  color: #fff;
  margin: 10px 0;
  font-size: medium;
  font-weight: 400;
}
#buffer_logo {
  /* border: 1px solid red; */
  width: 100%;
  height: 9%;
  margin-top: 2%;
}
#buffer_logo > img {
  width: 112px;
  aspect-ratio: auto 112 / 28;
  height: 28px;
  margin-top: 3%;
  margin-left: 5.5%;
}
#signup_div {
  /* border: 1px solid red; */
  width: 100%;
  height: 75%;
  margin-top: 5%;
}
#signup_div > div {
  /* border: 1px solid gold; */
  width: 50%;
  height: 100%;
  margin: auto;
}
#signup_div > div > h1 {
  text-align: center;
  margin-bottom: 50px;
}
#signup_div > div > input,
#signup_div > div > label {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#signup_div > div > label {
  margin-left: 8px;
}
#signup_div > div > input {
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
}

#not_robot {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px 5px;
  margin: 10px 0;
}
#not_robot > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#not_robot > div:first-child > input {
  width: 30px;
  height: 50px;
}
#not_robot > div:first-child > h4 {
  margin-left: 10px;
  font-size: small;
}
#not_robot > div:nth-child(2) > img {
  width: 50px;
  margin-left: 5%;
}
#not_robot > div:nth-child(2) > p {
  font-size: 8px;
  margin: 0;
  margin-right: 5px;
}
.Package_free {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
  margin-top: 15px;
  border-radius: 12px;
}

.Package_free > div:nth-child(1) {
  /* margin-left: 10px; */
  /* border: 1px solid black; */
  width: 55%;
}
.Package_free > div:nth-child(1) > p {
  margin-top: 10px;
  font-size: medium;
  line-height: 1.2;
}
#btn1 {
  padding: 18px 25px;
  font-size: large;
  background-color: #2022fe;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
#btn2 {
  padding: 13px 35px;
  font-size: large;
  background-color: #2022fe;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

#term_condition {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
#term_condition a {
  text-decoration: none;
}
#term_condition > a {
  color: gray;
}

@media all and (min-width: 1000px) and (max-width: 1600px) {
  #not_robot {
    width: 58%;
  }
}
@media all and (min-width: 999px) and (max-width: 1199px) {
  #signup_testimonial {
    height: 50%;
    width: 75%;
  }
}
@media all and (min-width: 999px) and (max-width: 1299px) {
  #signup_div > div {
    width: 60%;
  }
}
@media all and (min-width: 600px) and (max-width: 855px) {
  #signup_div > div {
    width: 70%;
  }
}
@media all and (min-width: 450px) and (max-width: 601px) {
  #signup_div > div {
    width: 90%;
  }
}
@media all and (min-width: 323px) and (max-width: 451px) {
  #signup_div > div {
    width: 100%;
  }
}
@media (max-width: 1099px) {
  /* desktop CSS: hide .mobile div */
  #sign_image {
    display: none;
    width: 0;
  }
  #signup {
    width: 100%;
    height: 100%;
  }
}
