@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    padding:0px;
    margin:0px;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1px;
    text-align: center;
}
body {
    font-size: 1rem;
    letter-spacing: 0.1px;
}
h1, h2, h3, h4, h5{
    font-family: poppins sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
h1 {
    font-size: calc(1.375rem + (1vw - 3.75px) * 1.6901);
    line-height: calc(2rem + (1vw - 3.75px) * 2.2535);
    font-weight: 700;
    margin: 0px 0px 1.5rem;
}
h1, h2, h3, h4, h5 {
    font-family: Poppins, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
p, a, span{
    font-family: Roboto sans-serif;
}
#str11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.createPage{
    border:2px solid;
    padding:10px 15px 10px;
    text-decoration: none;
    /* color:#ffffff; */
    background-color: blue;
}






#main12>.heading12{
    /* border:2px solid; */
    padding:20px;
    width:90%;
    margin:100px auto;;
    /* margin:auto; */
}







#str11>h1{
    font-size: 48px;
    max-width: 700px;
}
.head123{
    font-family: Poppins, sans-serif;
    font-weight: 700;
}
#str11>p{
    max-width: 566px;
    font-size: 1.325rem;
    line-height: 1.9;
    margin-bottom:60px;
    font-family: Roboto, sans-serif;
}
a.createPage{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    background-color: rgb(44, 75, 255);
    color: rgb(225 213 213);
    justify-content: center;
    box-sizing: border-box;
    width: min-content;
    /* line-height: 4.1; */
    font-weight: 500;
    padding: 0px 36px;
    height: 74px;
    box-shadow: rgb(0 0 0 / 12%) 8px 19px 106px;
    margin: 0px auto;
    border-radius: 5px;
    border:0px solid;
}
a.createPage:hover{
    background-color: rgb(8, 26, 123);
}

.strdiv{
   display: flex;
   gap:35px;

}
.strdiv>div{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.strdiv>div>img{
    
    width:100%;
    /* border:2px solid red; */
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.strdiv>div>h2{
    font-size: 2.125rem;
    line-height: 2.75rem;
    margin: 0px 0px 2rem;
    margin-bottom:35px;
    text-align: left;
}
.strdiv>div>p{
    max-width: 1400px;
    font-size: 1.395rem;
    line-height: 1.9;
    margin-bottom:25px;
    font-family: Roboto, sans-serif;
    text-align: left;
}
.strdiv>div>a{
        margin-left: 0px;
        height:50px;
        padding:10px 25px;
}


#str2>div{
    display: flex;
    flex-wrap: wrap;
    border:2px solid red;
    /* width:20%; */
    margin:auto;
    justify-content: center;
    gap:30px;
}
#str2>div>img{
    width:200px;
}

#str3>div>h2{
    font-size: 40px;
    margin-bottom:20px;
}
#str3>div>div>button{
    margin-right:10px;
    padding:7px;
    border:none;
    background-color: rgba(246, 247, 250, 0.452); ;
}

#str3>div>div>button:hover{
    cursor: pointer;
    border-bottom:2px solid blue;
}



#str4_5{
    background-color: rgb(239, 242, 255);
    padding:100px 100px;
}

#str6>div{
    display: flex;
    gap:40px;
    /* border: 2px solid red; */
    
}
h3 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 700;
    /* margin: 0px 0px 1.25rem; */
    height:10%;
   
}
#str6>div>div{
    /* border:2px solid green; */
    height: auto;
    padding-bottom:100px;
}
#str6>div>div>img{
    /* border:2px solid red; */
    min-width: 100%;
    max-width: 100%;
    min-height: 70%;
    max-height: 70%;
}
#str6>div>div>p{
    height:20px;
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-size: 20px;
    width:400px;
}
#str6>div>div>h3{
    margin-bottom: 10px;
    margin-top:20px;
    text-align: left;
    /* border: 2px solid; */
}
#str7>div>div:nth-child(2){
    display: flex;
    /* overflow-x: hidden; */
    /* animation-name: move-in-steps; */
    /* animation: move-in-steps 100s infinite linear 0s  normal none running move-in-steps; */
    /* position: relative;
    top:0px;
    left:0px;
    animation: move-in-steps 20s infinite;
    animation-timing-function: linear; */

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    animation: 100s linear 0s infinite normal none running iUydqX;
   
    
}
#str7>div>div:hover{
    animation-play-state: paused;
    
}
#str7{
    background-color: #f2f2f2;
    width:100%;
    margin:0px 0px;
    padding:100px;
    /* height:100%; */
}

/* @keyframes move-in-steps {
	0% {
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        left:100%; 
         transform: translate3d(-100%, 0px, 0px);
     }
 }   */

 @keyframes iUydqx{

0% {
    transform: translate3d(0px, 0px, 0px);
}
100% {
    transform: translate3d(-100%, 0px, 0px);
}
 }

#str7>div>div>div>img{
    width:150px;
}
#str7>div>div>div{
    margin:10px 15px;
}

#str7>div>div>h4{
    font-size: 1.8rem;
    line-height:25px;
    margin-bottom:20px;
}
#str7>div>div>p{
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 22px;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    /* margin:auto; */
    margin-bottom:40px;
}
#str7>div>div>a{
    margin-bottom: 50px;
}
#str8>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:-50px;
}
#str8>div>div>h5{
    font-size: 20px;
    text-align: left;
    margin-left:-00px
}
#str8>div>div>span{
    font-size: 23px;
    font-weight: bold;
    /* margin:-2px 20px  */
}
h5.head123{
    margin-left:500px;
}
h4{
    font-size: 30px;
}
#str8>div{
    width:80%;
    margin:auto;
}